<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" >
<head>
    {{>meta}}
    <title>{{file.name}}</title>
</head>
<body class="" >
  {{>nav}}
    <div class="container bg-primary-subtle">  
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <h3 class="my-0">{{file.name}}{{#if user}} {{#if isSigned}}<span class="badge text-white bg-success">Подписал</span> {{else}}
                  <span class="badge text-white bg-danger">Не подписал</span>{{/if}}{{/if}}
              </h3>
              {{#if user}}
              {{#if isSigned}}
             
              {{else}}
             <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
               
                <div class="input-group">
                    <form method="POST"> 
                    <input class="form-control" type="password" name="password" placeholder="Секретная фраза" maxlength="80" required="" id="id_password" aria-label="Input group example" aria-describedby="btnGroupAddon">
                
                </div>
                <div class="btn-group" role="group" aria-label="First group">
                  <button type="button" id="sign-article" class="btn btn-outline-primary" >Подписать</button>
                </form> 
                </div>
              </div> 
              {{/if}}
              {{/if}}
              </div>
            
              <div class="modal fade in"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content bg-danger text-white">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                      <button type="button" class="close text-white" id="closeModal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="errMsg">
                     
                    </div>
                   
                  </div>
                </div>
              </div>
            
<iframe id="frame" src="{{file.path}}"
        width="100%" height="700px"></iframe>
</div>
     {{>footer}} 


    <input type="hidden" id="fileid" value="{{file.id}}">
<script type="text/javascript">
  $(window).on('load', function() {
    $('#sign-article').on('click', async ()=>{
       const formData = new FormData();
        
        formData.append("password", $('#id_password').val());
      let response = await fetch(`/api/files/${$('#fileid').val()}`, {
        method:'POST',
        body:formData
      })
      let result = await response.text()
      if(!response.ok){
          $('#exampleModal').modal('show');
          $('#errMsg').text(result)
            $('#closeModal').on('click', ()=>{
                $('#exampleModal').modal('hide');
            })
      }else{
        location.reload()
      }
      
    })
    
      
  });
</script>
    
</body>
</html>