<!DOCTYPE html>
<html lang="en" >
<head>
  {{>meta}}
    
    <title>{{user.name}}</title>
</head>
<body class="" >
  {{>nav}}
    <div class="container bg-primary-subtle">  
     
        <div class="row justify-content-md-center">
        <div class="col col-sm-4">
            <h2>Личный кабинет</h2>
            <form action="" method="post">
            <label >Логин: <p>{{user.wallet}} </p>
            </label>
            <label for="name" style="text-align: left;">ФИО: <input type="text" name="name" id="name" class="form-control" value="{{user.name}}"> </p>
            <label for="name" style="text-align: left;">Введите пароль для сохранения изменений: <input type="password" id="password" name="password" class="form-control" > </p>
            <button class="btn-primary btn" id="change" type="button">Сохранить изменения</button>
            <div id="validationServerUsernameFeedback" class="text-danger"></div>
          </form>
        </div>
        </div>
    </div>
               <!--  <div class="card">
                    <div class="col-2">
                    <div class="general">
                        <h2> {{user.name}} </h2>
                    </div>
                       
                      </div>
                        <div class="col-2"> <div class="info-rating">Кошелек: {{user.wallet}} </div> <canvas id="myChart"></canvas></div>
                       
            </div> -->
          
{{>footer}} 


<script>
  $(window).on('load', function() {
  $("#change").on('click',async()=>{
      const user = {
        name:$('#name').val(),
        password:$('#password').val()
      }
      let response = await fetch('/api/users',{
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify(user)
      })
      let text = await response.text()
      if(response.ok){
      window.location.href ="/"
      }else{
          $('#validationServerUsernameFeedback').empty().append(`<p>${text}</p>`)
          
          $('input[type="password"]').css('border-color', 'red'); 
      }
    
  })
  })
</script>
    
</body>
</html>